#map {
	background-color: #fff;
	border: 1px solid #ccc;
}
.background {
	fill: none;
	pointer-events: all;
}
#countries {
	fill: #cde;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
}
#countries .active {
	fill: #89a;
}
pre.prettyprint {
	border: 1px solid #ccc;
	margin-bottom: 0;
	padding: 9.5px;
}
.person {
	fill-opacity: 50%;
}
.person:hover {
	fill-opacity: 100%;
}
#tooltip {
	position: absolute;
	text-align: left;
	padding: 8px;
	font: 12px sans-serif;
	background: #000;
	color: #ddd;
	border: solid 1px #aaa;
	border-radius: 4px;
	pointer-events: none;
	opacity: 0.8;
	display: none;
	z-index: 10;
}
